html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, .root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}
body, .app {
  background: #FAF8F5;
}

/* Header source: https://css-tricks.com/design-considerations-text-images/*/
.title-header {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://i.ibb.co/ZfJGk8D/pexels-lumn-309724.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 35vh;
  position: relative;
  border-radius: 0px 0px 30px 30px;
}

.bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  z-index: -10;
}

.bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  z-index: -10;
}

.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.page-title {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}
.page-subtitle {
  margin: 0;
  font-size: 1.3rem;
}


/* Books List */
.list-items-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
  padding: 20px;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  position: relative;
}


.book-info-container {
  width: 225px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-img {
  width: 100%;
  height: 330px;
  border-radius: 15px;
  display: block;
  margin-bottom: 20px;
}

.book-header {
  display: flex;
  margin: 0px;
  font-weight: bold;
  justify-content: space-between;
}

.book-title, .book-rating {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  align-self: center;
}

.book-author {
  align-self: flex-start;
  margin: 0px;
}

.info-wrapper {
  margin: 0px 0px 20px 0px;
}

.select-form { /* source: https://codepen.io/vkjgr/pen/VYMeXp */
  /* styling */
  width: 100%;
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* styling */
  text-align: center;
  background-image:
  linear-gradient(45deg, transparent 50%, gray 50%),
  linear-gradient(135deg, gray 50%, transparent 50%),
  linear-gradient(to right, #ccc, #ccc);
  background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - 2.5em) 0.5em;
  background-size:
  5px 5px,
  5px 5px,
  1px 1.5em;
  background-repeat: no-repeat;
}

/* Navigation tabs source: https://css-tricks.com/design-considerations-text-images/*/
.tab-bottom-line {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #008000;
  transition: all ease 0.2s;
}

.tab-links {
  display: flex;
}

.link {
  display: flex;
  padding: 1rem;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-tabs-container {
    position: relative;
    text-align: center;
}

/*Back Button*/
.back-link {
  background-image: url("data:image/svg+xml,%0A%3Csvg fill='%23fff' width='200px' height='200px' viewBox='0 0 200 200' data-name='Layer 1' id='Layer_1' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle/%3E%3Cpath d='M160,89.75H56l53-53a9.67,9.67,0,0,0,0-14,9.67,9.67,0,0,0-14,0l-56,56a30.18,30.18,0,0,0-8.5,18.5c0,1-.5,1.5-.5,2.5a6.34,6.34,0,0,0,.5,3,31.47,31.47,0,0,0,8.5,18.5l56,56a9.9,9.9,0,0,0,14-14l-52.5-53.5H160a10,10,0,0,0,0-20Z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  position: absolute;
  top: 16px;
  left: 16px;
  width: 45px;
  height: 45px;
  z-index: 100;
  background-size: 45px 45px;
}

.back-link:hover {
  cursor: pointer;
}

/* Search Box */
.search-container {
  text-align: center;
  padding-top: 64px;
}

.search-input {
      width: 50%;
      padding: 12px 65px;
      background-color: white;
      line-height: 28px;
      font-size: 16px;
      height: 64px;
      color: #575756;
      box-shadow: 0px 8px 20px rgba(0,0,0,0.06);
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 487.95 487.95;' xml:space='preserve'%3E%3Cpath fill-rule='evenodd' fill='%239e9ea7' clip-rule='evenodd' d='M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: 4% center;
      border-radius: 8px;
      border: 1px solid #fff;
      transition: all 250ms ease-in-out;
      outline: none;
}

/* floating action button */
.add-book-button {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 52 52' fill='Green' style='enable-background:new 0 0 70 70;' xml:space='preserve'%3E%3Cpath d='M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M38.5,28H28v11c0,1.104-0.896,2-2,2 s-2-0.896-2-2V28H13.5c-1.104,0-2-0.896-2-2s0.896-2,2-2H24V14c0-1.104,0.896-2,2-2s2,0.896,2,2v10h10.5c1.104,0,2,0.896,2,2 S39.604,28,38.5,28z'/%3E%3C/svg%3E%0A");
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 101;
  background-color: white;
}


/* Mobile Responsive */
@media only screen and (max-width: 400px) {
  .page-title {
    font-size: 2.5rem;
  }

  .page-subtitle {
    font-size: 1.1rem;
  }

  .title-header {
    height: 179px;
  }

  .back-link {
  top: 0;
  left: 0;
  }

  .book-info-container {
    width: 120px;
  }

  .book-img {
    height: 146px;
  }

  .list-item {
    padding: 10px;
  }

  .book-title {
    padding-right: 10px;
  }

  .book-author {
    font-size: 12px;
  }

  .select-form {
    line-height: 1em;
    padding: 0.5em;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    background-image: none;
  }

  .search-container {
    padding-top: 32px;
  }
  .search-input {
    width: 90%;
  }
}