html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, .root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}
body, .app {
  background: #FAF8F5;
}

/* Header source: https://css-tricks.com/design-considerations-text-images/*/
.title-header {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://i.ibb.co/ZfJGk8D/pexels-lumn-309724.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 35vh;
  position: relative;
  border-radius: 0px 0px 30px 30px;
}

.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.page-title {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}
.page-subtitle {
  margin: 0;
  font-size: 1.3rem;
}


/* Books List */
.list-items-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
  padding: 20px;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 20px 20px;
  background-color: white;
  border-radius: 15px;
  margin: 10px;
}

.book-info-container {
  width: 100%;
}

.book-img {
  width: 225px;
  height: 330px;
  border-radius: 15px;
  margin-bottom: 20px;
  margin: auto;
  display: block;
}

.book-header {
  display: flex;
  margin: 0px;
  font-weight: bold;
  width: 200px;
}

.select-form {
  text-align: center;
}

.book-title, .book-rating {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  align-self: center;
}

.book-title {
  margin-right: 15px;
}


.book-author {
  align-self: flex-start;
}
