html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, .root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}
body, .app {
  background: #FAF8F5;
}

/* Header source: https://css-tricks.com/design-considerations-text-images/*/
.title-header {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://i.ibb.co/ZfJGk8D/pexels-lumn-309724.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 35vh;
  position: relative;
  border-radius: 0px 0px 30px 30px;
}

.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.page-title {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}
.page-subtitle {
  margin: 0;
  font-size: 1.3rem;
}


/* Books List */
.list-items-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
  padding: 20px;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  margin: 10px;
}


.book-info-container {
  width: 225px;
}

.book-img {
  width: 100%;
  height: 330px;
  border-radius: 15px;
  display: block;
}

.book-header {
  display: flex;
  margin: 0px;
  font-weight: bold;
}

.form-container {
  display: block;
  text-align: center;
}

.select-form { /* source: https://codepen.io/vkjgr/pen/VYMeXp */
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* styling */
  text-align: center;
  background-image:
  linear-gradient(45deg, transparent 50%, gray 50%),
  linear-gradient(135deg, gray 50%, transparent 50%),
  linear-gradient(to right, #ccc, #ccc);
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - 2.5em) 0.5em;
background-size:
  5px 5px,
  5px 5px,
  1px 1.5em;
background-repeat: no-repeat;
}

.book-title, .book-rating {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  align-self: center;
}

.book-title {
  padding: 20px 20px 5px 0px;
}

.book-author {
  align-self: flex-start;
  margin: 0;
  padding: 0px 0px 20px 0px;
}
